<?php $this->yellow->layout("header") ?>
<main>
<?php $this->yellow->page->set("entryClass", "entry") ?>
<?php if ($this->yellow->page->isExisting("tag")): ?>
<?php foreach (preg_split("/\s*,\s*/", $this->yellow->page->get("tag")) as $tag) { $this->yellow->page->set("entryClass", $this->yellow->page->get("entryClass")." tag-".$this->yellow->toolbox->normaliseArguments($tag, false)); } ?>
<?php endif ?>
<article class="<?php echo $this->yellow->page->getHtml("entryClass") ?>">
<header>
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
<p><?php echo $this->yellow->language->getTextHtml("wikiModified") ?> <?php echo $this->yellow->page->getDateHtml("modified") ?></p>
</header>
<?php echo $this->yellow->page->getContent() ?>
</article>
<?php if ($this->yellow->page->isExisting("tag")): ?>
<p><?php echo $this->yellow->language->getTextHtml("wikiTag") ?> <?php $tagCounter = 0; foreach (preg_split("/\s*,\s*/", $this->yellow->page->get("tag")) as $tag) { if (++$tagCounter>1) echo ", "; echo "<a href=\"".$this->yellow->page->getPage("wikiStart")->getLocation(true).$this->yellow->toolbox->normaliseArguments("tag:$tag")."\">".htmlspecialchars($tag)."</a>"; } ?></p>
<?php endif ?>
</main>
<?php $this->yellow->layout("footer") ?>
