/* Wittstock extension, https://github.com/schulle4u/yellow-extensions-schulle4u/tree/master/wittstock */

/* Yellow-related stuff */
main .task-list-item {
    list-style-type: none;
}
main .task-list-item input {
    margin: 0 0.2em 0.25em -1.75em;
    vertical-align: middle;
}
main .toc {
    margin: 0;
    padding: 0;
    list-style: none;
}
main .left {
    float: left;
    margin: 0 1em 0 0;
}
main .center {
    display: block;
    margin: 0 auto;
}
main .right {
    float: right;
    margin: 0 0 0 1em;
}
