<?php $this->yellow->layout("header") ?>
<main>
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
<?php echo $this->yellow->page->getContent() ?>
</main>
<?php $this->yellow->layout("footer") ?>
