<?php $this->yellow->layout("header") ?>
<main>
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
<ul>
<?php $section = $sectionNew = "" ?>
<?php foreach ($this->yellow->page->getPages("podcast")->paginate($this->yellow->system->get("podcastPaginationLimit")) as $page): ?>
<?php if ($this->yellow->page->get("podcastChronologicalOrder")): ?>
<?php $sectionNew = $page->getDateHtml("modified") ?>
<?php else: ?>
<?php $sectionNew = $page->getDateHtml("published") ?>
<?php endif ?>
<?php if ($section!=$sectionNew) { $section = $sectionNew; echo "</ul><h2>$section</h2><ul>\n"; } ?>
<li><a href="<?php echo $page->getLocation(true) ?>"><?php echo $page->getHtml("title") ?></a><?php if ($page->isExisting("mediafile")): ?> (<a href="<?php if ($this->yellow->system->isExisting("audioUrlPrefix")) echo $this->yellow->system->get("audioUrlPrefix"); echo $page->getHtml("mediafile") ?>">Download</a>)<?php endif ?></li>
<?php endforeach ?>
</ul>
<?php $this->yellow->layout("pagination", $this->yellow->page->getPages("podcast")) ?>
</main>
<?php $this->yellow->layout("footer") ?>
