<?php $this->yellow->layout("header") ?>
<main>
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
<ul>
<?php $section = $sectionNew = "" ?>
<?php foreach ($this->yellow->page->getPages("wiki")->paginate($this->yellow->system->get("wikiPaginationLimit")) as $page): ?>
<?php if ($this->yellow->page->get("wikiChronologicalOrder")): ?>
<?php $sectionNew = htmlspecialchars($page->getDate("modified")) ?>
<?php else: ?>
<?php $sectionNew = htmlspecialchars(strtoupperu(substru($page->get("title"), 0, 1))) ?>
<?php endif ?>
<?php if ($section!=$sectionNew) { $section = $sectionNew; echo "</ul><h2>$section</h2><ul>\n"; } ?>
<li><a href="<?php echo $page->getLocation(true) ?>"><?php echo $page->getHtml("title") ?></a></li>
<?php endforeach ?>
</ul>
<?php $this->yellow->layout("pagination", $this->yellow->page->getPages("wiki")) ?>
</main>
<?php $this->yellow->layout("footer") ?>
