<?php $this->yellow->layout("header") ?>
<main>
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
<?php if ($this->yellow->page->get("status")!="done"): ?>
<p class="<?php echo $this->yellow->page->getHtml("status") ?>"><?php echo $this->yellow->language->getTextHtml("contactStatus".ucfirst($this->yellow->page->get("status"))) ?></p>
<form class="contact-form" action="<?php echo $this->yellow->page->getLocation(true) ?>" method="post">
<p class="contact-name"><label for="name"><?php echo $this->yellow->language->getTextHtml("contactName") ?></label><br /><input type="text" class="form-control" name="name" id="name" value="<?php echo $this->yellow->page->getRequestHtml("name") ?>" /></p>
<p class="contact-from"><label for="from"><?php echo $this->yellow->language->getTextHtml("contactEmail") ?></label><br /><input type="text" class="form-control" name="from" id="from" value="<?php echo $this->yellow->page->getRequestHtml("from") ?>" /></p>
<p class="contact-message"><label for="message"><?php echo $this->yellow->language->getTextHtml("contactMessage") ?></label><br /><textarea class="form-control" name="message" id="message" rows="7" cols="70"><?php echo $this->yellow->page->getRequestHtml("message") ?></textarea></p>
<p class="contact-consent"><input type="checkbox" name="consent" value="consent" id="consent"<?php echo $this->yellow->page->isRequest("consent") ? " checked=\"checked\"" : "" ?>> <label for="consent"><?php echo $this->yellow->language->getTextHtml("contactConsent") ?></label></p>
<input type="hidden" name="referer" value="<?php echo $this->yellow->page->getRequestHtml("referer") ?>" />
<input type="hidden" name="status" value="send" />
<input type="submit" value="<?php echo $this->yellow->language->getTextHtml("contactButton") ?>" class="btn contact-btn" />
</form>
<?php else: ?>
<p><?php echo $this->yellow->language->getTextHtml("contactStatusDone") ?><p>
<?php endif ?>
</main>
<?php $this->yellow->layout("footer") ?>
